<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Edit Medicine</title>
</head>
<body>
	<div align="center">
		<h1>Edit a new Medicine</h1>
		<br>
		<form action="#" th:action="@{/saveMedicine}" th:object="${medicine}"
			method="post" enctype="multipart/form-data">
			<table border="0" cellpadding="10">
				<tr>
					<td>Medicine Image:</td>
					<td><input type="file" th:field="*{image}" required></td>
				</tr>
				<tr>
					<td>Medicine Name:</td>
					<td><input type="text" th:field="*{medicine_name}" required></td>
				</tr>
				<tr>
					<td>Medicine Power:</td>
					<td><input type="text" th:field="*{medicine_power}" required></td>
				</tr>
				<tr>
					<td>Medicine Sell Price:</td>
					<td><input type="number" step="any" th:field="*{sell_price}"
						required></td>
				</tr>
				<tr>
					<td>Medicine Generice Name:</td>
					<td><input type="text" th:field="*{generice_name}" required></td>
				</tr>
				<tr>
					<td>Medicine Type:</td>
					<td><select name="medicinetype" th:field="*{type}">
							<!-- <td th:text="${medicine.type}">Medicine Type</td> -->
							<option th:text="${type.type_name}">Type Name</option>
					</select></td>
				</tr>
				<tr>
					<td>Medicine Category:</td>
					<td><select name="medicineCategory" th:field="*{category}">
							<option th:text="${category.category_name}">Category
								Name</option>
					</select></td>
				</tr>
				<tr>
					<td>Medicine Manufacturer Name:</td>
					<td><input type="text" th:field="*{manufacturer_name}"
						required></td>
				</tr>
				<tr>
					<td>Medicine Manufacturer Price:</td>
					<td><input type="text" step="any"
						th:field="*{manufacturer_price}" required></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Update</button></td>
				</tr>

			</table>
		</form>
	</div>

</body>
</html>