<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Medicine Type</title>
</head>
<body class="container text-center">

	<th:block th:include="/_header"></th:block>

	<div>
		<br>
		<h2>List of All Types</h2>

		<form class="form-inline my-2 my-lg-0" method="GET"
			th:action="@{/searchType}">
			<input class="form-control mr-sm-2" type="text" name="keyword"
				placeholder="Enter Type Name......." aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>

		<table border="1" cellpadding="10" class="table">
			<thead class="thead-dark">
				<tr>
					<th>Type Name</th>
					<th>Type Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="type : ${listTypes}">
					<td th:text="${type.type_name}">Category Name</td>
					<td th:text="${type.type_description}">Category Description</td>

					<td><a th:href="@{'/editType/' + ${type.type_id}}"
						class="btn btn-outline-success" role="button" aria-pressed="true">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
						th:href="@{'/deleteType/' + ${type.type_id}}"
						class="btn btn-outline-danger" role="button" aria-pressed="true">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>