<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Add Category</title>
</head>
<body>
	<div align="center">
		<h1>Add new Category of the Medicine</h1>
		<br>
		<form action="#" th:action="@{/saveCategory}" th:object="${category}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Category Name :</td>
					<td><input type="text" th:field="*{category_name}" required></td>
				</tr>
				<tr>
					<td>Category Description :</td>
					<td><input type="text" th:field="*{category_description}"
						required></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>