<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>New Medicine</title>
</head>
<body class="container">

	<th:block th:include="/_header"></th:block>
	<div align="center">
		<br>
		<h2>Create a new Medicine</h2>
		<form action="#" th:action="@{/saveMedicine}" th:object="${medicine}"
			method="post">
			<table border="0" cellpadding="10">

				<tr>
					<td>Medicine Image :</td>
					<td><input type="file" th:field="*{image}"></td>
				</tr>
				<tr>
					<td>Medicine Name :</td>
					<td><input type="text" th:field="*{medicine_name}"
						placeholder="Medicine name..." required></td>
				</tr>
				<tr>
					<td>Medicine Power :</td>
					<td><input type="text" th:field="*{medicine_power}"
						placeholder="Medicine power eg:gm/mg/ui..." required></td>
				</tr>
				<tr>
					<td>Medicine Sell Price :</td>
					<td><input type="number" step="any" th:field="*{sell_price}"
						placeholder="Medicine sell price..." required></td>
				</tr>
				<tr>
					<td>Medicine Stored :</td>
					<td><input type="text" th:field="*{medicine_stored}"
						placeholder="Medicine stored here..." required></td>
				</tr>
				<tr>
					<td>Medicine Generice Name :</td>
					<td><input type="text" th:field="*{generice_name}"
						placeholder="Generice name..." required></td>
				</tr>
				<tr>
					<td>Medicine Type :</td>
					<td><select th:field="*{type}" name="medicinetype" required>
							<option value="" th:each="type : ${listTypeMedicine}"
								th:value="${type.type_id}" th:text="${type.type_name}">Type
								Name</option>
					</select></td>
				</tr>
				<tr>
					<td>Medicine Category :</td>
					<td><select th:field="*{category}" name="medicineCategory"
						required>
							<option value="" th:each="category : ${listCategoryMedicine}"
								th:value="${category.category_id}"
								th:text="${category.category_name}">Type Name</option>
					</select></td>
				</tr>
				<tr>
					<td>Medicine Manufacturer Name :</td>
					<td><select th:field="*{manufacturer}"
						name="medicineManufacturer" required>
							<option value=""
								th:each="manufacturer : ${listManufacturerMedicine}"
								th:value="${manufacturer.manufacturer_id}"
								th:text="${manufacturer.manufacturer_name}">Manufacturer
								Name</option>
					</select></td>
				</tr>
				<tr>
					<td>Medicine Manufacturer Price :</td>
					<td><input type="text" step="any"
						th:field="*{manufacturer_price}"
						placeholder="Manufacturer price..." required></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit" class="btn btn-success">Save</button>
						<a class="btn btn-primary" href="/" role="button"
						aria-pressed="true">Cancel</a></td>
				</tr>

			</table>
		</form>
	</div>

</body>
</html>