<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Add Type</title>
</head>
<body class="container">
	<th:block th:include="/_header"></th:block>
	<div align="center">

		<br>
		<h2>Add new Type of the Medicine</h2>
		<br>
		<form action="#" th:action="@{/saveType}" th:object="${type}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Type Name :</td>
					<td><input type="text" th:field="*{type_name}" required></td>
				</tr>
				<tr>
					<td>Type Description :</td>
					<td><textarea rows="4" cols="40"
							placeholder="Enter Type Description...."
							th:field="*{type_description}" required></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit" class="btn btn-success">Save</button>
						<a class="btn btn-primary" href="/indexType" role="button">Cancel</a></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>