<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Search Medicine</title>
</head>
<body class="container text-center">
	<th:block th:include="/_header"></th:block>
	<div>
		<br>
		<h3>Result of your searching Medicine</h3>
		<table class="table" border="1" cellpadding="10">
			<thead class="thead-dark">
				<tr>
					<!-- 	<th>Student Id</th>
					-->
					<th>Medicine Image</th>
					<th>Medicine Name</th>
					<th>Medicine Power</th>
					<th>Medicine Sell Price</th>
					<th>Medicine Stored</th>
					<th>Medicine Generice Name</th>
					<th>Medicine Manufacturer Name</th>
					<th>Medicine Type</th>
					<th>Medicine Category</th>
					<th>Medicine Manufacturer Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="medicine : ${resultMedicine}">
					<td th:text="${medicine.image}">Medicine Image</td>
					<td th:text="${medicine.medicine_name}">Medicine Name</td>
					<td th:text="${medicine.medicine_power}">Medicine Power</td>
					<td th:text="${medicine.sell_price}">Medicine Sell Price</td>
					<td th:text="${medicine.medicine_stored}">Medicine Stored</td>
					<td th:text="${medicine.generice_name}">Medicine Generice Name</td>
					<td th:text="${medicine.manufacturer.manufacturer_name}">Medicine
						Manufacturer Name</td>
					<td th:text="${medicine.type.type_name}">Medicine Type</td>
					<td th:text="${medicine.category.category_name}">Medicine
						Category</td>
					<td th:text="${medicine.manufacturer_price}">Medicine
						Manufacturer Price</td>
					<td><a th:href="@{'/editMedicine/' + ${medicine.medicine_id}}"
						class="btn btn-outline-success" role="button" aria-pressed="true">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
						th:href="@{'/deleteMedicine/' + ${medicine.medicine_id}}"
						class="btn btn-outline-danger" role="button" aria-pressed="true">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>